.form-lang-row {
    display: flex;
    gap: 0.25rem;
    padding-left: 0;
}

.lang-tab-btn {
    color: white;
    background-color: var(--button-bg);
    height: 35px;
    line-height: 15px;
    transition: background 0.15s;
    font-size: 0.8125rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.lang-tab-btn:hover {
    background-color: var(--default-button-hover-bg);
}

.lang-tab-btn.selected {
    background-color: var(--default-button-bg);
}
